
*.config
BashaBariWeb/.vs/BashaBariWeb/config/applicationhost.config
BashaBariWeb/.vs/BashaBariWeb/config/applicationhost.config
BashaBariWeb/.vs/BashaBariWeb/v16/.suo
BashaBariWeb/.vs/BashaBariWeb/config/applicationhost.config
BashaBariWeb/.vs/BashaBariWeb/v16/.suo
BashaBariWeb/bin/Debug/netcoreapp3.1/BashaBariWeb.dll
BashaBariWeb/bin/Debug/netcoreapp3.1/BashaBariWeb.pdb
BashaBariWeb/bin/Debug/netcoreapp3.1/BashaBariWeb.runtimeconfig.dev.json
BashaBariWeb/bin/Debug/netcoreapp3.1/BashaBariWeb.Views.dll
BashaBariWeb/bin/Debug/netcoreapp3.1/BashaBariWeb.Views.pdb
BashaBariWeb/obj/BashaBariWeb.csproj.nuget.dgspec.json
BashaBariWeb/obj/BashaBariWeb.csproj.nuget.g.props
BashaBariWeb/obj/Debug/netcoreapp3.1/BashaBariWeb.assets.cache
BashaBariWeb/obj/Debug/netcoreapp3.1/BashaBariWeb.csprojAssemblyReference.cache
BashaBariWeb/obj/Debug/netcoreapp3.1/BashaBariWeb.dll
BashaBariWeb/obj/Debug/netcoreapp3.1/BashaBariWeb.genruntimeconfig.cache
BashaBariWeb/obj/Debug/netcoreapp3.1/BashaBariWeb.pdb
BashaBariWeb/obj/Debug/netcoreapp3.1/BashaBariWeb.Views.dll
BashaBariWeb/obj/Debug/netcoreapp3.1/BashaBariWeb.Views.pdb
BashaBariWeb/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
BashaBariWeb/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
BashaBariWeb/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
BashaBariWeb/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
BashaBariWeb/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
BashaBariWeb/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
BashaBariWeb/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
BashaBariWeb/obj/project.assets.json
BashaBariWeb/obj/project.nuget.cache
*.config
*.dll
*.pdb
*.json
*.props
