@model TBashaBari.Models.TenantConnectsOwner

<form method="post">
    <input asp-for="ConnectionId" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Are You Sure, you want to delete?</h2>
        </div>
        <input asp-for="TenantEmail" class="form-control" readonly hidden />
        <input asp-for="OwnerEmail" class="form-control" readonly hidden />
        <input asp-for="IsConfirmed" class="form-control" readonly hidden />
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-danger w-100" value="Delete" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">
                                Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


